body {
    margin: 0;
    padding: 0;
    background-color: #0f3b8b;
    background-image: url("../images/Chefchaoun.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #000000;  /* Changed text color to black */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

a {
    color: #171112;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* setup grid layout for header, nav, main, and footer */
#wrapper {
    margin: auto;
    width: 70%;
    min-width: 768px;
    min-height: 720px;
    max-height: 1440px;
    display: grid;
    grid-template-rows: 70px 35px 2px 1fr 70px;
    background-color: rgba(250, 250, 250, 0.368); /* semi-transparent background */
}

header h1 {
    margin: 10px 6% 0px 6%;
    line-height: 60px;
}

/* navigation bar styles */
nav {
    margin: 0;
    padding-left: 6%;
    overflow: hidden;
}
nav a {
    padding-right: 15px;
    float: left;
    color: #000104;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
/* dropdown menu */
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    margin: 0;
    padding: 0;
    padding-right: 15px;
    border: none;
    outline: none;
    color: #0b0707;
    background-color: inherit;
    font-family: inherit;
    font-size: large;
    font-weight: bold;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #232020;
    border-radius: 5px;
    background-color: rgba(13, 13, 13, 0.429);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 3;
}
.dropdown-content a {
    padding: 3px 16px;
    float: none;
    display: block;
    color: #141212;
    text-decoration: none;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* navbar underline */
div.line {
    margin: 0 4%;
    height: 2px;
    width: 90%;
    background-color: #070707;
}

/* main content block */
main {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

article {
    margin: 20px 6% 10px 6%;
    overflow: hidden;
    color: #000000;  /* Ensure article text is also black */
}
article p {
    line-height: 1.4em;
}
article img {
    height: auto;
    max-width: 100%;
}

footer {
    text-align: center;
    color: #000000;  /* Ensure footer text is also black */
    margin-top: -30px;
}
footer p {
    margin: 5px;
}
footer span {
    margin: 1px;
    line-height: 25px;
}
